* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: initial !important;
  font-family: Calibri;
}

body {
  background: rgb(241, 231, 242);
  background: radial-gradient(
    circle,
    rgba(241, 231, 242, 1) 35%,
    rgba(255, 223, 223, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

.page-heading {
  font-size: 3.1rem;
  color: rgb(80, 80, 80);
}
.page-path-links {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #fff;
}
.page-path-links p {
  margin-right: 1rem;
  color: #373737;
}
.page-path-links hr {
  margin-right: 1rem;
}
.page-path-current-link {
  color: #5b5b5b !important;
}
/* MenuPageHeader global css */
.Appetizers-bg {
  background-image: url(../public/assets/images/Appetizers-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.Biryani-bg {
  background-image: url(../public/assets/images/Biryani-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.ChatoraJunction-bg {
  background-image: url(../public/assets/images/ChatoraJunction-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.DessertSpecials-bg {
  background-image: url(../public/assets/images/DessertSpecials-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.Drinks-bg {
  background-image: url(../public/assets/images/Drinks-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.Foods-bg {
  background-image: url(../public/assets/images/Foods-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.HouseSpecials-bg {
  background-image: url(../public/assets/images/HouseSpecials-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.IndianFusion-bg {
  background-image: url(../public/assets/images/IndianFusion-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.IndoChinese-bg {
  background-image: url(../public/assets/images/IndoChinese-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.KidElicious-bg {
  background-image: url(../public/assets/images/KidElicious-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.TandooriLove-bg {
  background-image: url(../public/assets/images/TandooriLove-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.WeeklySpecials-bg {
  background-image: url(../public/assets/images/WeeklySpecials-bg.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
