* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: initial !important;
  font-family: Calibri;
}

body {
  background: rgb(241, 231, 242);
  background: radial-gradient(
    circle,
    rgba(241, 231, 242, 1) 35%,
    rgba(255, 223, 223, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

a {
  color: inherit;
  text-decoration: none;
}
