.Appetizers-container {
  text-align: center;
}
.Appetizers-bg {
  background-image: url(../public/assets/images/Appetizers-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.Appetizers-container .MenuList-container {
  margin-top: 0.2rem;
}
.Appetizers-container .MenuList-vertical-line-wrapper {
  margin-top: 2rem;
  height: 89%;
}
