.Appetizers-container {
  text-align: center;
}
.Appetizers-container .MenuList-container {
  margin-top: 0.2rem;
}
.Appetizers-container .MenuList-vertical-line-wrapper {
  margin-top: 2rem;
  height: 89%;
}
