.Biryani-container .MenuList-vertical-line-wrapper {
  height: 82%;
}
.Biryani-bg {
  background-image: url(../public/assets/images/Biryani-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
