.Drinks-container {
  text-align: center;
}
.Drinks-container .MenuList-container {
  margin-top: -6.95rem;
}
.Drinks-container .MenuList-vertical-line-wrapper {
  margin-top: 12rem;
  height: 88%;
}
