.Drinks-container {
  text-align: center;
}
.Drinks-bg {
  background-image: url(../public/assets/images/Drinks-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.Drinks-container .MenuList-container {
  margin-top: -6.95rem;
}
.Drinks-container .MenuList-vertical-line-wrapper {
  margin-top: 12rem;
  height: 88%;
}
