.Header-container {
  border-bottom: 1px solid rgb(232, 230, 230);
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 0.3rem 1.82rem 0.7rem 1.5rem;
}
.Header-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-top: 0.84rem;
  margin-left: -0.14rem;
  color: rgba(19, 19, 19, 0.55);
  padding: 16px;
  font-size: 16px;
}
.Header-nav ul li {
  padding-bottom: 0.55rem;
  font-weight: bold;
}
.Header-nav ul li:hover {
  border-bottom: 1px solid #dadada;
  cursor: pointer;
}
.Header-book-table {
  width: 8.5rem;
  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #9e297f;
  margin-top: 0.8rem;
  cursor: pointer;
  font-size: 0.96rem;
  font-weight: 600;
}
.Header-book-table:hover {
  letter-spacing: 0.027rem;
}
.Header-book-table p {
  margin-top: -0.1rem;
  letter-spacing: 0.1rem;
}
.Header-nav-item {
  margin-left: 2.12rem;
}

/* -- Nav Dropdown -- */

/* Dropdown Button */
.avatar-profile-picture {
  width: 52px;
  height: 52px;
  border-radius: 26px;
}
.avatar-dropdown-btn {
  color: rgba(19, 19, 19, 0.55);
  font-size: 16px;
  font-weight: 600;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.avatar-dropdown {
  position: relative;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.avatar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.avatar-dropdown-content a {
  color: rgba(39, 39, 39, 0.55);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Calibri;
}

/* Change color of dropdown links on hover */
.avatar-dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.avatar-dropdown:hover .avatar-dropdown-content {
  display: block;
}

/* -- End of Avatar Dropdown -- */

@media (max-width: 874px) {
  .Header-container {
    flex-direction: column;
  }
  .Header-logo {
    display: flex;
    justify-content: center;
  }
  .Header-book-table {
    width: 101.7%;
  }
}

@media (max-width: 405px) {
  .Header-nav ul {
    flex-direction: column;
  }
  .Header-nav ul li {
    margin-left: 0 !important;
    text-align: center;
  }
  .Header-book-table {
    width: 100.87%;
  }
}
