.KidElicious-container .MenuList-vertical-line-wrapper {
  height: 67%;
}
.KidElicious-bg {
  background-image: url(../public/assets/images/KidElicious-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
