.MenuItem-container {
  position: relative;
}
.MenuItem-container img {
  width: 100%;
}
.MenuItem-chef-special-wrapper {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.6);
}
.MenuItem-chef-special-wrapper p {
  font-size: 1.1rem;
  margin-top: 0.9rem;
  margin-left: 0.72rem;
  font-style: italic;
  line-height: 1.25rem;
}
