.MenuList-container {
  position: relative;
  height: 100%;
  padding-top: 1.7rem;
  padding-bottom: 9.3rem;
}
.MenuList-vertical-line-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 80%;
  border-right: 1px solid #c6c6c6;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.MenuList-wrapper {
  display: flex;
  flex-wrap: wrap;
}
