.Menu-container {
  height: 30rem;
}
.Menu-heading-wrapper {
  padding: 0.69rem 0 0.25rem 0;
  text-align: center;
}
.Menu-nav-items-pills-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 7rem;
  row-gap: 1.9rem;
  padding-left: 2.5rem;
}
.Menu-nav-items-pill {
  width: fit-content;
  background: #ffc0cb;
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
}
