.MenuList-container {
  position: relative;
  height: 100%;
  padding-top: 1.7rem;
  padding-bottom: 9.3rem;
  /* margin-top: -7rem; */
}
.MenuList-vertical-line-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90.3%;
  border-right: 1px solid #c6c6c6;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  z-index: -10;
}
.MenuList-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.MenuList-heading {
  font-size: 2rem;
  background: #fff;
  color: #434343;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  z-index: 10;
}
