.MenuItem-container {
  width: 30%;
  position: relative;
}
.MenuItem-container img {
  width: 100%;
  height: 20rem;
  box-shadow: 2px 3px;
}
.MenuItem-container img:hover {
  width: 100%;
  height: 20rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 350ms ease-out;
}
.MenuItem-chef-special-wrapper {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.6);
}
@keyframes MenuItem-chef-special-wrapper-anim {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-4px, -6px);
  }
}
.MenuItem-container:hover .MenuItem-chef-special-wrapper {
  animation-name: MenuItem-chef-special-wrapper-anim;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  transition: 350ms ease-out;
}
.MenuItem-chef-special-wrapper p {
  font-size: 1.1rem;
  margin-top: 0.9rem;
  margin-left: 0.72rem;
  font-style: italic;
  line-height: 1.25rem;
}
