.Standards-container {
  height: 30rem;
  background: #fff;
  padding-top: 1rem;
}
.Standards-container h3 {
  font-size: 3.5rem;
  padding-top: 0.67rem;
  padding-left: 1.25rem;
  font-weight: 500;
}
.Standards-content-wrapper {
  display: flex;
  column-gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 2.3rem;
}

@media (max-width: 874px) {
  .Standards-container {
    flex-direction: column;
    height: 100%;
  }
  .Standards-content-wrapper {
    flex-direction: column;
    padding-bottom: 2rem;
  }
}
