.TandooriLove-container .MenuList-vertical-line-wrapper {
  height: 82%;
}
.TandooriLove-bg {
  background-image: url(../public/assets/images/TandooriLove-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
